@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;


.btn-group{
    @include flex($justify:center);
    width: 100%;
    padding: $space-md;
    .btn{
        @include flex($justify: center);
        gap: 0.5rem;
        width: 100%;
        height: 40px;
        font-size: $font-size-sm;
        border-radius: $radius-sm;
        border: none;
        cursor: pointer;
        box-shadow: $shadow-sm;
        transition: background-color $transition-fast;
        &:disabled{
            background-color: $secondary-color;
            cursor: not-allowed;
        }
        &.btn-default{
            background-color: $primary-color;
            color: $text-primary;
            &:hover{
                background-color: rgba($primary-color, 0.9);
            }
            .icon{
                @include flex($justify: center);
                svg{
                    stroke: $text-primary;
                    width: 19px;
                    height: 19px;
                }
            }
        }
        &.btn-primary{
            background-color: $secondary-color;
            color: $text-primary;
            &:hover{
                background-color: rgba($secondary-color, 0.7);
            }
            .icon{
                @include flex($justify: center);
                svg{
                    stroke: $text-primary;
                    width: 19px;
                    height: 19px;
                }
            }
        }
        &.btn-secondary{
            background-color: $tertiary-color;
            color: $text-secondary;
            &:hover{
                background-color: rgba($tertiary-color, 0.9);
            }
            .title{
                color: $text-inverse;
            }
            .icon{
                @include flex($justify: center);
                svg{
                    stroke: $text-inverse;
                    width: 19px;
                    height: 19px;
                }
            }
        }
        &.btn-danger{
            background-color: $color-error;
            color: $text-inverse;
            &:hover{
                background-color: rgba($color-error, 0.9);  
            }
               .icon{
                @include flex($justify: center);
                svg{
                    stroke: $text-inverse;
                    width: 19px;
                    height: 19px;
                }
            }
        }
    }
}