@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.card-container {
  @include flex($justify: space-between);
  background-color: $secondary-color;
  box-shadow: $shadow-md;
  padding: $space-md;
  max-width: 400px;
  width: 100%;
  border-radius: $radius-sm;
  &.user {
    background-color: $secondary-color;
  }
  &.products {
    background-color: $primary-color;
  }
  &.carts {
    background-color: rgba($tertiary-color, 0.3);
  }
  .card-icon {
    font-size: 2rem;
    svg {
      fill: $text-primary;
    }
  }
}

.card-details {
  color: $text-secondary;
  font-size: $font-size-sm;
  &__num {
    font-size: 2rem;
    font-weight: $font-weight-bold;
  }
}
