@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;


.input-group{
    position: relative;
    width: 100%;
    height: 40px;
    background: $shadow-md;
    transition: border-color $transition-fast;

    .custom-input{
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        background-color: white;
        padding: $space-md;
        border: 1px solid rgba( $secondary-color, 0.5);
        color: $text-secondary;
        border-radius: $radius-sm;
        transition: border-color $transition-fast;
        box-shadow: $shadow-sm;
        &:focus{
            border-color: $secondary-color;
        }

    }
    label{
        position: absolute;
        top: -1.45rem;
        left: 0;
        padding: 0 $space-xs;
        font-size: $font-size-sm;
        color: $text-secondary;
        transition: all $transition-fast;
    }
    .input-icon{
        position: absolute;
        right: $space-md;
        top: 60%;
        left: auto;
        transform: translateY(-50%);
        color: $text-secondary;
        cursor: pointer;
        svg{
            fill : $text-secondary;
            width: 20px;
            height: 20px;
        }
    }
}