$primary-color: #FFF1E7;
$secondary-color: #B5D2E6;
$tertiary-color: #326080;
$accent-color: #805232;
//text colors
$text-primary: #1F2937;
$text-secondary: #4B5563;
$text-inverse: #FFFFFF;

//border radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-full: 9999px;
//state colors
$color-success: #22C55E;
$color-warning: #F59E0B;
$color-error: #EF4444;
$color-info: #3B82F6;


//spacing
$space-xs: 0.25rem;
$space-sm: 0.7rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

//typography
$font-family-base: 'Inter', sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//shadows
$shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
$shadow-md:  rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
$shadow-lg: 0 10px 15px rgba(0,0,0,0.15);

//transition
$transition-fast: 0.2s ease;
$transition-normal: 0.3s ease;
$transition-slow: 0.5s ease;